# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

target/
backend/**/application.properties
backend/**/application-local.properties
!backend/**/application-example.properties
*.log

flutter/**/build/
flutter/**/.dart_tool/
flutter/**/.flutter-plugins
flutter/**/.flutter-plugins-dependencies
flutter/**/.packages
flutter/**/android/local.properties
flutter/**/ios/Flutter/flutter_export_environment.sh
flutter/**/*.g.dart